<div class="component">
  <div class="inner">
    <h1 class="inner_header">会社概要</h1>
  </div>
  <%= image_tag '/assets/company_top.jpg' %>
</div>
<div class="component">
  <table style="height:100%;">
    <tr>
      <th>会社名</th>
      <td>HP Template 株式会社</td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>静岡県浜松市北区東三方町</td>
    </tr>
    <tr>
      <th>設立年月日</th>
      <td>平成**年*月*日</td>
    </tr>
    <tr>
      <th>資本金</th>
      <td>**百万円</td>
    </tr>
    <tr>
      <th>代表取締役</th>
      <td>****</td>
    </tr>
    <tr>
      <th>事業内容</th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>********の販売事業</td>
    </tr>
    <tr>
      <th></th>
      <td>********の施工事業</td>
    </tr>
    <tr>
      <th></th>
      <td>********のコンサルティング事業</td>
    </tr>
    <tr>
      <th>主な取引先</th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>****株式会社</td>
    </tr>
    <tr>
      <th></th>
      <td>一般社団法人****</td>
    </tr>
    <tr>
      <th>取引先金融機関</th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>****銀行</td>
    </tr>
    <tr>
      <th></th>
      <td>**信用金庫</td>
    </tr>
  </table>
</div>
