<div class="component">
  <div class="inner">
    <h1 class="inner_header"><div>サンプル</div><div>メッセージ</div></h1>
    <div class="inner_sub">メッセージのサブタイトル</div>
  </div>
  <%= image_tag '/assets/hamanako_1.jpg' %>
</div>
