<div class="component">
  <div class="inner">
    <h1 class="inner_header"><div>サービス</div><div>紹介</div></h1>
  </div>
  <%= image_tag '/assets/service_top.jpg' %>
</div>
<div class="component">
  <table style="height:100%;" class="service_table">
    <tr>
      <th><div>オンデマンドな</div><div>**のご提供</div></th>
      <td>
        <div>独自開拓の**の</div><div>流通ルートにより</div><div>高品質・</div>
        <div>低価格かつオン</div><div>デマンドな製品</div><div>のご提供を</div>
        <div>行っております</div>
      </td>
    </tr>
    <tr>
      <th><div>迅速かつ高品質な</div><div>**の施工</div></th>
      <td>
        <div>お客様にご満足いただ</div><div>けるハイクオリティ</div><div>かつスピーディーな</div>
        <div>**の施工を行って</div><div>おります</div>
      </td>
    </tr>
    <tr>
      <th><div>最適な**</div><div>ソリューションの</div><div>ご提案</div></th>
      <td>
        <div>私たちは、長年培って</div><div>きた**に関する経験・</div><div>ノウハウに基づき、</div>
        <div>お客様のビジネスに</div><div>最適なソリューションを</div><div>ご提供いたします</div>
      </td>
    </tr>
  </table>
</div>
